<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_image_dice_anmi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,518},{96,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,124}}</string>
                <key>sourceSize</key>
                <string>{96,124}</string>
            </dict>
            <key>mj_image_dice_anmi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,261}}</string>
                <key>sourceSize</key>
                <string>{191,261}</string>
            </dict>
            <key>mj_image_dice_anmi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{203,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,182}}</string>
                <key>sourceSize</key>
                <string>{203,182}</string>
            </dict>
            <key>mj_image_dice_anmi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{185,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,157}}</string>
                <key>sourceSize</key>
                <string>{185,157}</string>
            </dict>
            <key>mj_image_dice_anmi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,653},{136,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,113}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>mj_image_dice_anmi06.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,513},{138,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,143}}</string>
                <key>sourceSize</key>
                <string>{138,143}</string>
            </dict>
            <key>mj_image_dice_anmi07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{157,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,171}}</string>
                <key>sourceSize</key>
                <string>{157,171}</string>
            </dict>
            <key>mj_image_dice_anmi08.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,370},{193,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,141}}</string>
                <key>sourceSize</key>
                <string>{193,141}</string>
            </dict>
            <key>mj_image_dice_anmi09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{223,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,132}}</string>
                <key>sourceSize</key>
                <string>{223,132}</string>
            </dict>
            <key>mj_image_dice_anmi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{229,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,127}}</string>
                <key>sourceSize</key>
                <string>{229,127}</string>
            </dict>
            <key>mj_image_dice_anmi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,241},{218,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,127}}</string>
                <key>sourceSize</key>
                <string>{218,127}</string>
            </dict>
            <key>mj_image_dice_anmi12.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,131},{224,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,108}}</string>
                <key>sourceSize</key>
                <string>{224,108}</string>
            </dict>
            <key>mj_image_dice_dice1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,661},{72,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,85}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>mj_image_dice_dice1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,791},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>mj_image_dice_dice2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,644},{72,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,85}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>mj_image_dice_dice2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,808},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>mj_image_dice_dice3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,587},{72,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,85}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>mj_image_dice_dice3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,808},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>mj_image_dice_dice4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,513},{72,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,85}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>mj_image_dice_dice4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,808},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>mj_image_dice_dice5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,444},{72,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,85}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>mj_image_dice_dice5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,735},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>mj_image_dice_dice6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,370},{72,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,85}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>mj_image_dice_dice6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,718},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dice_atlas.png</string>
            <key>size</key>
            <string>{496,882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13ebee78425c9d74eb24777fb5bc9db4$</string>
            <key>textureFileName</key>
            <string>dice_atlas.png</string>
        </dict>
    </dict>
</plist>
