<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MahjUI/Resources/btnReady.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,193},{235,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,82}</string>
			</dict>
			<key>MahjUI/Resources/image_hu_da.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,630},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>MahjUI/Resources/image_hu_xiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,129},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>MahjUI/Resources/liuju.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,615},{366,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{366,42}</string>
			</dict>
			<key>MahjUI/Resources/pingju.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,927},{280,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,66}</string>
			</dict>
			<key>MahjUI/Resources/shengli.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,486},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>MahjUI/Resources/shibai.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,907},{204,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,73}</string>
			</dict>
			<key>MahjUI/Resources/wenzi_shule.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,75},{126,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,48}</string>
			</dict>
			<key>MahjUI/Resources/wenzi_yingle.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,289},{128,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,50}</string>
			</dict>
			<key>MahjUI/Resources/wenzi_youxidou.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,777},{134,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,50}</string>
			</dict>
			<key>MahjUI/Resources/zailaiyiju1.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,281},{235,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,82}</string>
			</dict>
			<key>MahjUI/Resources/btnBack1.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,615},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>MahjUI/Resources/huanzhuokaishi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,369},{235,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,82}</string>
			</dict>
			<key>MahjUI/Resources/huanzhuokaishi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,457},{235,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,82}</string>
			</dict>
			<key>MahjUI/Resources/zailaiyiju2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,839},{235,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,82}</string>
			</dict>
			<key>MahjUI/Resources/Ready_0004_.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,663},{128,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,97}</string>
			</dict>
			<key>MahjUI/Resources/jiqiren1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,75},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>MahjUI/Resources/jishiqi_hong.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,981},{124,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,33}</string>
			</dict>
			<key>MahjUI/Resources/jishiqi_huang.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,981},{33,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,124}</string>
			</dict>
			<key>MahjUI/Resources/jishiqi_lan.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,986},{124,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,33}</string>
			</dict>
			<key>MahjUI/Resources/jishiqi_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,698},{33,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,124}</string>
			</dict>
			<key>MahjUI/Resources/jishiqi_ting_xia.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,999},{26,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,18}</string>
			</dict>
			<key>MahjUI/Resources/liaotian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,230},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>MahjUI/Resources/Ready_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,113},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>MahjUI/Resources/shezhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,385},{149,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,77}</string>
			</dict>
			<key>MahjUI/Resources/shouhui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,186},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>MahjUI/Resources/Start_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,457},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>MahjUI/Resources/zhankai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,186},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>MahjUI/Resources/Button_CelTrust_Nol.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,3},{233,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,89}</string>
			</dict>
			<key>MahjUI/Resources/fan.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,121},{35,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,31}</string>
			</dict>
			<key>MahjUI/Resources/chat/biaoqing1.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,486},{200,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,66}</string>
			</dict>
			<key>MahjUI/Resources/chat/biaoqing2.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,558},{200,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,66}</string>
			</dict>
			<key>MahjUI/Resources/chat/changyongyu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,486},{200,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,66}</string>
			</dict>
			<key>MahjUI/Resources/chat/changyongyu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,558},{200,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,66}</string>
			</dict>
			<key>MahjUI/Resources/chat/duihuatiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,3},{581,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{581,48}</string>
			</dict>
			<key>MahjUI/Resources/chat/fasong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,304},{102,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,66}</string>
			</dict>
			<key>MahjUI/Resources/chat/fasong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,376},{102,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,66}</string>
			</dict>
			<key>MahjUI/Resources/chat/jilu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,698},{200,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,66}</string>
			</dict>
			<key>MahjUI/Resources/chat/jilu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,764},{200,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,66}</string>
			</dict>
			<key>MahjUI/Resources/Gamefenshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,663},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>MahjUI/Resources/GameMoney.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,663},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>MahjUI/Resources/Start_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,663},{65,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,28}</string>
			</dict>
			<key>MahjUI/Resources/Start_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,777},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,56}</string>
			</dict>
			<key>MahjUI/Resources/Start_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,192},{73,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,91}</string>
			</dict>
			<key>MahjUI/Resources/chat/biaoqingkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,770},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>MahjUI/Resources/chat/biaoqingkuang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,764},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>MahjUI/Resources/task/taskBox_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,999},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>
			<key>MahjUI/Resources/task/taskBox_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,75},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>MahjUI/Resources/task/taskMsg.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,839},{270,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,62}</string>
			</dict>
			<key>MahjUI/Resources/task/taskBtn_Normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,764},{106,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,64}</string>
			</dict>
			<key>MahjUI/Resources/task/taskBtn_Press.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,192},{106,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,64}</string>
			</dict>
			<key>MahjUI/Resources/task/taskItem.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{590,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{590,66}</string>
			</dict>
			<key>MahjUI/Resources/task/taskX.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,630},{24,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,27}</string>
			</dict>
			<key>MahjUI/Resources/wenzi_fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,129},{51,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,48}</string>
			</dict>
			<key>MahjUI/Resources/Ready_0000_.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,3},{49,448}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,448}</string>
			</dict>
			<key>MahjUI/Resources/Ready_0001_.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,3},{477,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{477,67}</string>
			</dict>
			<key>MahjUI/Resources/task/yuanbaoIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,663},{40,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,26}</string>
			</dict>
			<key>MahjUI/Resources/Button_CelTrust_Nol1.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,98},{233,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,89}</string>
			</dict>
			<key>MahjUI/Resources/fh_btn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,345},{73,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,74}</string>
			</dict>
			<key>MahjUI/Resources/mz1_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,590},{181,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,41}</string>
			</dict>
			<key>MahjUI/Resources/Ready_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,986},{66,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,30}</string>
			</dict>
			<key>MahjUI/Resources/tcfj_btn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,564},{189,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,44}</string>
			</dict>
			<key>MahjUI/Resources/tcfj_btn_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,564},{189,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,44}</string>
			</dict>
			<key>MahjUI/Resources/wenzi_fen1.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,129},{51,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,48}</string>
			</dict>
			<key>MahjUI/Resources/wenzi_youxidou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,698},{134,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,50}</string>
			</dict>
			<key>MahjUI/Resources/dingQue/icon_huPai.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,770},{118,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,60}</string>
			</dict>
			<key>MahjUI/Resources/dingQue/btn_dingQue_tiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,839},{136,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,122}</string>
			</dict>
			<key>MahjUI/Resources/dingQue/btn_dingQue_tong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,839},{136,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,122}</string>
			</dict>
			<key>MahjUI/Resources/dingQue/btn_dingQue_wan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,698},{136,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,122}</string>
			</dict>
			<key>MahjUI/Resources/dingQue/mark_dingQue_tiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,75},{32,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,30}</string>
			</dict>
			<key>MahjUI/Resources/dingQue/mark_dingQueZhong_dian.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,999},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>MahjUI/Resources/dingQue/title_xuanZeDingQue.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,457},{376,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,47}</string>
			</dict>
			<key>MahjUI/Resources/dingQue/zailaiyiju1.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,839},{237,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,76}</string>
			</dict>
			<key>MahjUI/Resources/dingQue/zailaiyiju2.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,921},{237,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,76}</string>
			</dict>
			<key>MahjUI/Resources/dingQue/mark_dingQueZhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,663},{94,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,40}</string>
			</dict>
			<key>MahjUI/Resources/swap/back_s_lie.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,75},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,56}</string>
			</dict>
			<key>MahjUI/Resources/swap/back_s_r_lie.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,486},{61,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MahjBigTexture.png</string>
			<key>realTextureFileName</key>
			<string>MahjBigTexture.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>