<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anGang.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,214},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>anQiDui.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,119},{100,35}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,35}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
            <key>baoPai.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,209},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>daDanDiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,43},{87,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,39}}</string>
                <key>sourceSize</key>
                <string>{89,39}</string>
            </dict>
            <key>daDuiZi.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,147},{92,35}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,35}}</string>
                <key>sourceSize</key>
                <string>{92,39}</string>
            </dict>
            <key>daiYao.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,156},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>diHe.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,152},{72,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{72,33}}</string>
                <key>sourceSize</key>
                <string>{72,39}</string>
            </dict>
            <key>dianPao.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,179},{65,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,32}</string>
            </dict>
            <key>duiaBao.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,39},{64,35}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,35}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>gangKai.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,187},{68,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,35}}</string>
                <key>sourceSize</key>
                <string>{68,35}</string>
            </dict>
            <key>gangShangHua.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,68},{102,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,37}}</string>
                <key>sourceSize</key>
                <string>{102,39}</string>
            </dict>
            <key>gangShangPao.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,84},{102,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,33}}</string>
                <key>sourceSize</key>
                <string>{102,39}</string>
            </dict>
            <key>gen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,184},{71,33}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,33}}</string>
                <key>sourceSize</key>
                <string>{73,39}</string>
            </dict>
            <key>gen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,144},{78,33}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,33}}</string>
                <key>sourceSize</key>
                <string>{78,39}</string>
            </dict>
            <key>gen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,144},{78,33}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,33}}</string>
                <key>sourceSize</key>
                <string>{78,39}</string>
            </dict>
            <key>gen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,117},{78,33}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,33}}</string>
                <key>sourceSize</key>
                <string>{78,39}</string>
            </dict>
            <key>guaFeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{69,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,39}</string>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,224},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>huaZhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,219},{67,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,37}}</string>
                <key>sourceSize</key>
                <string>{67,39}</string>
            </dict>
            <key>jiaHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,195},{61,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,36}}</string>
                <key>sourceSize</key>
                <string>{61,36}</string>
            </dict>
            <key>jiangDui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,35}}</string>
                <key>sourceSize</key>
                <string>{67,39}</string>
            </dict>
            <key>longQiDui.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,107},{100,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,35}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
            <key>menQing.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,233},{56,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,35}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>mingGang.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,224},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>piaoHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,246},{59,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,35}}</string>
                <key>sourceSize</key>
                <string>{59,35}</string>
            </dict>
            <key>qiangGangHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{104,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{104,33}}</string>
                <key>sourceSize</key>
                <string>{104,39}</string>
            </dict>
            <key>qingDaiYao.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{82,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,39}}</string>
                <key>sourceSize</key>
                <string>{82,39}</string>
            </dict>
            <key>qingDui.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,258},{63,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{65,39}</string>
            </dict>
            <key>qingLongQiDui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{118,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{118,35}}</string>
                <key>sourceSize</key>
                <string>{118,39}</string>
            </dict>
            <key>qingQiDui.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,106},{99,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,39}}</string>
                <key>sourceSize</key>
                <string>{99,39}</string>
            </dict>
            <key>qingSanLongQiDui.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{147,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{147,35}}</string>
                <key>sourceSize</key>
                <string>{147,39}</string>
            </dict>
            <key>qingShuangLongQiDui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,35}}</string>
                <key>sourceSize</key>
                <string>{149,39}</string>
            </dict>
            <key>qingYiSe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{92,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,37}}</string>
                <key>sourceSize</key>
                <string>{92,39}</string>
            </dict>
            <key>sanLongQiDui.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,35},{119,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{119,31}}</string>
                <key>sourceSize</key>
                <string>{121,39}</string>
            </dict>
            <key>shuangLongQiDui.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{121,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{121,31}}</string>
                <key>sourceSize</key>
                <string>{121,39}</string>
            </dict>
            <key>suFan.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,156},{61,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,37}}</string>
                <key>sourceSize</key>
                <string>{61,39}</string>
            </dict>
            <key>tianHe.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,179},{69,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{69,33}}</string>
                <key>sourceSize</key>
                <string>{69,39}</string>
            </dict>
            <key>wuJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,76},{65,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,39}}</string>
                <key>sourceSize</key>
                <string>{67,39}</string>
            </dict>
            <key>xiaYu.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,224},{60,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,39}</string>
            </dict>
            <key>xuanFengGang.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,72},{111,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,32}}</string>
                <key>sourceSize</key>
                <string>{111,32}</string>
            </dict>
            <key>yaoJiuQiDui.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,39},{112,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{112,31}}</string>
                <key>sourceSize</key>
                <string>{112,39}</string>
            </dict>
            <key>zhanLiHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{92,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,33}}</string>
                <key>sourceSize</key>
                <string>{92,33}</string>
            </dict>
            <key>zhuangJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{61,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,39}}</string>
                <key>sourceSize</key>
                <string>{61,41}</string>
            </dict>
            <key>ziMo.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,250},{54,35}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{54,35}}</string>
                <key>sourceSize</key>
                <string>{54,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ResultPoints.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1a59f266813214ec2adde582566f417$</string>
            <key>textureFileName</key>
            <string>ResultPoints.png</string>
        </dict>
    </dict>
</plist>
