<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wind_rain_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{102,28}}</string>
                <key>offset</key>
                <string>{62,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,47},{102,28}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,32},{176,58}}</string>
                <key>offset</key>
                <string>{22,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,26},{176,58}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{246,168}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,6},{246,168}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{254,168}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,12},{254,168}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,154},{262,162}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,10},{262,162}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{264,160}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,14},{264,160}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{272,160}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,20},{272,160}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{292,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,22},{292,150}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,150}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{336,150}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{180,150}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,22},{180,150}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,828},{198,156}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,16},{198,156}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{218,170}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,2},{218,170}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,210},{228,168}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,3},{228,168}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,164},{248,176}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,8},{248,176}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,488},{242,168}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,6},{242,168}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,342},{242,176}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,4},{242,176}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
            <key>wind_rain_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,318},{248,168}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,4},{248,168}}</string>
                <key>sourceSize</key>
                <string>{372,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Wind_Rain.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b552c6bc889eeb2c099affd77e927210$</string>
            <key>textureFileName</key>
            <string>Wind_Rain.png</string>
        </dict>
    </dict>
</plist>
