<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Lobby/Images/BoxRoom/bg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,599},{79,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,51}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,955},{115,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,56}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,599},{189,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,55}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,473},{187,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,47}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/bg_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,959},{349,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,49}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/bgPYYQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{442,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{442,275}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,932},{301,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,85}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/btn_cj.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,932},{199,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,68}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/btn_histroy.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,711},{224,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,99}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/btn_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,599},{79,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,51}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/btn_tc.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,885},{112,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,41}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/btn_xq.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,278},{90,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,50}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/btn_yq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,662},{103,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,46}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/btn_yyq.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,662},{103,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,46}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/btnJJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,821},{172,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,62}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/btnJJ_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,593},{172,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,62}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/btnJRBX.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,468},{172,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,62}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/btnJRBX_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,311},{172,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,62}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/btn-SC-n.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,278},{176,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,74}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/btn-SC-s.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,456},{176,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,74}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/CJBX.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1},{344,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{344,138}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/CS.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,482},{109,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,37}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/fgx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,1},{341,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,4}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/FJH.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,711},{69,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,24}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/font_histroy.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,821},{250,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,109}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/font_hzmj.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,790},{118,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,29}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/font_sk_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,468},{156,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,28}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/font_sk_m.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,664},{155,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,29}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/font_sky_bfd.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,249},{217,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,29}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/font_sky_fd.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,1},{246,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,29}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/FP.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,662},{110,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,37}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/FP_xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,530},{106,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,35}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/FWFZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,662},{110,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,37}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/FWFZ_xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,530},{106,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,35}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/huawen.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,1},{708,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{708,57}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/join_JRBX.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,821},{250,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,109}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/JRBX.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,821},{342,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{342,136}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/LSJL_fgx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,344},{318,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{318,3}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/MJ_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,662},{111,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,38}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/MJ_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,483},{96,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,37}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/MJ_xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,375},{106,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,35}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/noLSJL.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1},{340,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,197}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/phone.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,599},{63,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,61}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/phone_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,711},{301,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,85}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/QA.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,662},{110,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,37}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/QA_xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,412},{106,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,35}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/qq.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,599},{63,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,61}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/qq_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,711},{301,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,85}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/QQHY.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,347},{124,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,23}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/SK_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,662},{111,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,38}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/SK_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,449},{96,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,37}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/SKY_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,662},{111,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,38}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/SKY_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,547},{96,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,37}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/SM.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,370},{110,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,37}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/SM_xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,375},{106,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,35}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/transparent.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,626},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/TXLHY.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,932},{154,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,21}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/wupaiyou.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,200},{266,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,61}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,375},{65,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,62}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/WXHY.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1002},{132,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,21}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/X.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1010},{76,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,8}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/XQXX.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,200},{250,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,109}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/XZHY.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,347},{250,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,109}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/YQHY.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,278},{250,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,109}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/QT.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,711},{77,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,62}</string>
			</dict>
			<key>Lobby/Images/BoxRoom/MF.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,311},{77,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,62}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>box_room.png</string>
			<key>realTextureFileName</key>
			<string>box_room.png</string>
			<key>size</key>
			<string>{1022,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>