<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Lobby/Images/Match/Champion/AJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,862},{118,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,95}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/bg_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,545},{361,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{361,50}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/bg_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,89},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_BZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,46},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_CJBS.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,597},{216,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,83}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,663},{194,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,41}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_di_xiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,973},{150,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,41}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_fou.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,190},{24,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,22}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_gg.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,467},{33,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,34}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_jsss.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,597},{233,69}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,70}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_qbbs.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,912},{233,69}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,70}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_qbbsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,1},{227,48}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,70}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_qbbsj.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,236},{227,48}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,70}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_qbbsw.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,465},{227,48}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,70}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_RC.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,230},{135,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,61}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_shi.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,203},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,22}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_shi_xiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,910},{79,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,43}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_sx.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,154},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_wdbs.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,1},{233,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,70}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,194},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/cjbs.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,983},{108,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,35}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/fwfz.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,1},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/hd.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,178},{55,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,32}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/hydt.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,596},{187,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,48}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,152},{42,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,41}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,682},{221,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,27}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/jdt_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,173},{54,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,31}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/jsk.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,133},{43,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,48}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/NM_AJ_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,98},{40,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/NM_AJ_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,203},{27,55}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/NM_AJ_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,94},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/NM_AJ_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,213},{39,56}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/NM_AJ_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,49},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/NM_AJ_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,156},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/NM_AJ_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,740},{41,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/NM_AJ_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,89},{37,55}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/NM_AJ_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,798},{41,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/NM_AJ_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,112},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/pm.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,910},{135,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,61}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/qb.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,509},{116,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,32}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/quanan.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,808},{114,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,48}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/SC.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,663},{75,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,38}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/sj.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,731},{17,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,13}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/sm.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,367},{114,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,48}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/ss.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,711},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/TB_JB1.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,99},{55,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,35}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/TB_JB2.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,136},{55,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,35}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/TB_JB3.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,146},{55,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,35}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/TK_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,668},{192,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,62}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/TK_di1.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,49},{48,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,57}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/txt_bsjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,434},{95,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,21}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/txt_bsmc.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,46},{94,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,21}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/txt_bssc.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,112},{94,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,21}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/txt_CJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,483},{46,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,23}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/txt_csrs.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,640},{95,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,21}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/txt_GK.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,142},{46,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,22}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/txt_kssj.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1},{95,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,21}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/txt_kssj_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,515},{130,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,28}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/txt_sfcs.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,369},{96,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,21}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/txt_sfgk.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,646},{94,20}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,21}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/txt_zjje.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,646},{96,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,20}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/txt_zjje_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,515},{130,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,28}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WC.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,369},{76,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,37}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/ygpz.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,545},{184,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,49}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_bm.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,369},{138,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,63}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/NUM_wan.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,434},{30,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,32}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/NUM_x_wan.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,235},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_fou_da.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,595},{101,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,43}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_fou_xiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,859},{79,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,43}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/btn_shi_da.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1},{101,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,43}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/bg_kuang_hd.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,357},{359,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,186}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/icon_mah.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{291,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,354}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/icon_sk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,714},{271,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,354}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/icon_sky.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,357},{271,355}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,355}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/icon_sky_fei.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,668},{181,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,240}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/icon_sky_no_fei.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,186},{181,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,242}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/icon_sk_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,1},{183,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,242}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/icon_sk_ming_.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,668},{191,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,242}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/cjsssm.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,983},{179,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,30}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/an_wc.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,862},{118,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,95}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/an_wc1.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,711},{118,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,95}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/txt_wf.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,808},{51,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,20}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/match1_title_txt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,545},{185,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,48}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/match1_btn_yello_enroll.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,369},{138,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,63}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/match1_pic_txt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,987},{560,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{561,37}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/match1_pic_match.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,1},{86,89}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Champion.png</string>
			<key>realTextureFileName</key>
			<string>Champion.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>