<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Resources/signIn/day1.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,991},{72,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,25}</string>
			</dict>
			<key>Resources/signIn/day2.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,991},{72,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,25}</string>
			</dict>
			<key>Resources/signIn/day3.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,991},{72,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,25}</string>
			</dict>
			<key>Resources/signIn/day4.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,991},{70,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,25}</string>
			</dict>
			<key>Resources/signIn/day5.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,133},{92,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,25}</string>
			</dict>
			<key>Resources/newResources/Vip/touxiangkuang-hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,84},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>Resources/newResources/Vip/touxiangkuang-jin.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,545},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>Resources/signIn/singin_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,272},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,541},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,810},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,3},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,272},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,541},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,810},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,3},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/newResources/Setting/kaitong.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,373},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>
			<key>Resources/newResources/Setting/yanqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,779},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>
			<key>Resources/Individual/quedinganniu (2).png</key>
			<dict>
				<key>frame</key>
				<string>{{962,3},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/Individual/shoujianganniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,205},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>
			<key>Resources/Individual/shoujibangdinganniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,245},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/Individual/shoujiweibangdinganniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,487},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/Individual/shurukuang (2).png</key>
			<dict>
				<key>frame</key>
				<string>{{859,187},{232,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,36}</string>
			</dict>
			<key>Resources/Individual/shurukuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,84},{283,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{283,38}</string>
			</dict>
			<key>Resources/Individual/shurukuang-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,741},{382,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,38}</string>
			</dict>
			<key>Resources/Individual/tianjiaanniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,437},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>Resources/Individual/tiaowen-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,971},{59,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,40}</string>
			</dict>
			<key>Resources/Individual/wodetouxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,3},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/Individual/xingxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,58},{21,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,20}</string>
			</dict>
			<key>Resources/Individual/xiugaierjimima.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,729},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/Individual/xiugaimimaanniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,205},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/Individual/yanzhengkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,427},{112,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,38}</string>
			</dict>
			<key>Resources/Individual/youjiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,991},{25,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,50}</string>
			</dict>
			<key>Resources/Individual/yuanbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,491},{56,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,39}</string>
			</dict>
			<key>Resources/Individual/zhezhaotiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,951},{382,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,34}</string>
			</dict>
			<key>Resources/Individual/zhuceerjimimaanniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,447},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/newResources/benefit/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,459},{110,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,193}</string>
			</dict>
			<key>Resources/newResources/benefit/border.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,895},{63,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,47}</string>
			</dict>
			<key>Resources/newResources/benefit/btn_clickToGet.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,666},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/newResources/benefit/btn_clickToGet_hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,205},{216,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,58}</string>
			</dict>
			<key>Resources/newResources/benefit/huodehuafei.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,3},{450,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{450,90}</string>
			</dict>
			<key>Resources/newResources/Fuli/bangdingdikuang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,3},{75,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,81}</string>
			</dict>
			<key>Resources/newResources/Fuli/fuli.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,489},{171,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,61}</string>
			</dict>
			<key>Resources/newResources/Fuli/jiantou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,991},{49,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,21}</string>
			</dict>
			<key>Resources/newResources/Fuli/jiantoushang.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,3},{49,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,21}</string>
			</dict>
			<key>Resources/newResources/Fuli/lingjiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,231},{214,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,57}</string>
			</dict>
			<key>Resources/newResources/HallScene/dou.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,425},{36,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,31}</string>
			</dict>
			<key>Resources/newResources/HallScene/fuli.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,689},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>Resources/newResources/HallScene/xiangzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,648},{38,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,41}</string>
			</dict>
			<key>Resources/newResources/Login/denglu.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,658},{258,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,77}</string>
			</dict>
			<key>Resources/newResources/Login/fengleihao.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,785},{258,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,77}</string>
			</dict>
			<key>Resources/newResources/Login/zhuce.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,868},{258,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,77}</string>
			</dict>
			<key>Resources/newResources/Lottery/btn_exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,321},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>
			<key>Resources/newResources/Lottery/direction.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,785},{43,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,15}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallBigTexture1.png</string>
			<key>realTextureFileName</key>
			<string>HallBigTexture1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>