<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Resources/diZhuSet/chuangjianBtn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,1969},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>Resources/diZhuSet/jindutiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1946},{86,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,6}</string>
			</dict>
			<key>Resources/diZhuSet/jindutiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1984},{88,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,8}</string>
			</dict>
			<key>Resources/diZhuSet/press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1731,1940},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>Resources/diZhuSet/renshuKuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,1680},{35,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,30}</string>
			</dict>
			<key>Resources/Individual/xialakuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,1484},{382,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{382,198}</string>
			</dict>
			<key>Resources/Individual/xiaotouxiangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1482},{229,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,229}</string>
			</dict>
			<key>Resources/newResources/benefit/omenedo.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1250},{606,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{606,153}</string>
			</dict>
			<key>Resources/newResources/benefit/presentbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,891},{304,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{304,226}</string>
			</dict>
			<key>Resources/newResources/Fuli/fuli_huawen1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,363},{223,522}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,522}</string>
			</dict>
			<key>Resources/newResources/Fuli/quchongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1174,1786},{214,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,57}</string>
			</dict>
			<key>Resources/newResources/HallScene/hand_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,1912},{68,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,51}</string>
			</dict>
			<key>Resources/newResources/HallScene/hand_slider.png</key>
			<dict>
				<key>frame</key>
				<string>{{1561,1896},{68,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,62}</string>
			</dict>
			<key>Resources/newResources/HallScene/huanzou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1172,1474},{200,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,258}</string>
			</dict>
			<key>Resources/newResources/HallScene/shouchong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1531,1748},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>Resources/newResources/HallScene/SpeechBubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,1034},{283,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,139}</string>
			</dict>
			<key>Resources/newResources/Login/logo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,891},{606,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{606,189}</string>
			</dict>
			<key>Resources/newResources/Login/shurukuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1621,1740},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Resources/newResources/Login/youke1.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,1872},{56,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,240}</string>
			</dict>
			<key>Resources/newResources/Login/youke2.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,1179},{56,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,240}</string>
			</dict>
			<key>Resources/newResources/Login/youkedenglu.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,1492},{258,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{258,77}</string>
			</dict>
			<key>Resources/newResources/Lottery/big_tray.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,1492},{448,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{448,192}</string>
			</dict>
			<key>Resources/newResources/Lottery/direction1.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,1179},{120,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,15}</string>
			</dict>
			<key>Resources/newResources/Lottery/small_tray.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1492},{448,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{448,192}</string>
			</dict>
			<key>Resources/newResources/Lottery/waikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{354,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,354}</string>
			</dict>
			<key>Resources/newResources/Room/Channel/channel_bk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,709},{425,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,138}</string>
			</dict>
			<key>Resources/newResources/Room/Channel/channel_bk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,890},{425,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,138}</string>
			</dict>
			<key>Resources/newResources/Room/Channel/channel_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1776,3},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Resources/newResources/Room/Channel/channel_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,1201},{90,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,31}</string>
			</dict>
			<key>Resources/newResources/Room/Channel/player_count_bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,1995},{252,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,35}</string>
			</dict>
			<key>Resources/newResources/Room/Channel/separate.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1492},{3,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{3,22}</string>
			</dict>
			<key>Resources/newResources/Room/table_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,1756},{203,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,87}</string>
			</dict>
			<key>Resources/newResources/Setting/boda.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,1702},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>
			<key>Resources/newResources/Vip/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1457,1664},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,27}</string>
			</dict>
			<key>Resources/newResources/Vip/xitonggongao.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1934},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/newResources/zaixianrenshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1569,1964},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>Resources/newResources/xitongtishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,853},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/shop/present_golds.png</key>
			<dict>
				<key>frame</key>
				<string>{{1394,1758},{131,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,85}</string>
			</dict>
			<key>Resources/shop/presents.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1946},{160,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,32}</string>
			</dict>
			<key>Resources/shop/productBackground.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,1241},{158,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,196}</string>
			</dict>
			<key>Resources/shop/return1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,1973},{195,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,63}</string>
			</dict>
			<key>Resources/shop/return2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,1393},{195,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,63}</string>
			</dict>
			<key>Resources/shop/shopTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1389,1969},{98,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,52}</string>
			</dict>
			<key>Resources/shop/tubiaotouyin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,1905},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>Resources/shop/uppay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,1849},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Resources/shop/wujiaoxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,1664},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>
			<key>Resources/shop/Wxpay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1493,1849},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Resources/shop/xuanzechongzhifangshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1965},{267,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,24}</string>
			</dict>
			<key>Resources/shop/yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,1680},{33,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,31}</string>
			</dict>
			<key>Resources/signIn/beans.png</key>
			<dict>
				<key>frame</key>
				<string>{{1172,1680},{36,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,31}</string>
			</dict>
			<key>Resources/signIn/close2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,1697},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>Resources/signIn/doudou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,1236},{151,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,150}</string>
			</dict>
			<key>Resources/signIn/got.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1717},{130,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,112}</string>
			</dict>
			<key>Resources/signIn/itemBackground.png</key>
			<dict>
				<key>frame</key>
				<string>{{1436,1462},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1409},{345,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,77}</string>
			</dict>
			<key>Resources/signIn/wenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,853},{124,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,31}</string>
			</dict>
			<key>Resources/signIn/wenzidikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,1200},{45,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,43}</string>
			</dict>
			<key>Resources/bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,1896},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Resources/bianqian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1174,1717},{195,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,63}</string>
			</dict>
			<key>Resources/biaoqian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,1405},{215,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,63}</string>
			</dict>
			<key>Resources/btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,1409},{261,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,69}</string>
			</dict>
			<key>Resources/btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,1407},{261,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,69}</string>
			</dict>
			<key>Resources/btnbackground.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,1176},{232,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,54}</string>
			</dict>
			<key>Resources/btnbackground_kong.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1853},{232,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,54}</string>
			</dict>
			<key>Resources/closeEdit.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,1200},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>Resources/dizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,1201},{90,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,28}</string>
			</dict>
			<key>Resources/hudiejie.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,1034},{147,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,136}</string>
			</dict>
			<key>Resources/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1489,1664},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,27}</string>
			</dict>
			<key>Resources/mashangjairu.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,1946},{150,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,30}</string>
			</dict>
			<key>Resources/point_top_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,2000},{43,526}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,526}</string>
			</dict>
			<key>Resources/RegSecondPwdBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1503},{491,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{491,234}</string>
			</dict>
			<key>Resources/room2.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,363},{212,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,340}</string>
			</dict>
			<key>Resources/toastbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,1982},{310,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,51}</string>
			</dict>
			<key>Resources/newResources/HallScene/meinv.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,891},{283,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,353}</string>
			</dict>
			<key>Resources/newResources/HallScene/hall_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1228,1912},{200,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,51}</string>
			</dict>
			<key>Resources/newResources/MsgBox/icon_youxidou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1493,1969},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>Resources/newResources/MsgBox/icon_yuanbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,1664},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>Resources/newResources/MsgBox/name_youxidou.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,1946},{48,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,16}</string>
			</dict>
			<key>Resources/newResources/MsgBox/name_yuanbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1420,1680},{31,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,16}</string>
			</dict>
			<key>Resources/newResources/addgame/tianjiayouxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,853},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/newResources/MsgBox/icon_huafei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1655,1962},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>Resources/newResources/MsgBox/name_huafei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,1680},{48,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,16}</string>
			</dict>
			<key>Resources/newResources/MsgBox/yuanbao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,1695},{41,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>Resources/newResources/MsgBox/yuanbao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1549,1849},{41,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>Resources/newResources/MsgBox/yuanbao_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,1849},{41,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>Resources/newResources/MsgBox/yuanbao_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1641,1846},{41,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>Resources/newResources/MsgBox/yuanbao_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1687,1846},{41,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>Resources/newResources/MsgBox/yuanbao_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1701,1893},{41,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>Resources/newResources/MsgBox/yuanbao_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,1664},{41,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>Resources/newResources/MsgBox/huafei_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,1201},{61,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,43}</string>
			</dict>
			<key>Resources/Benefit/getAward.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,189},{109,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,106}</string>
			</dict>
			<key>Resources/Benefit/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,1717},{114,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,113}</string>
			</dict>
			<key>Resources/Benefit/tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1249},{220,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,152}</string>
			</dict>
			<key>Resources/newResources/Room/Channel/page_spot_curr.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,1680},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>Resources/newResources/Room/Channel/page_spot_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,1680},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>Resources/newResources/inviteFriend/invite1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,1849},{214,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,57}</string>
			</dict>
			<key>Resources/newResources/inviteFriend/yaoqinghaoyou.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,853},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/btnbackground_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1913},{232,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallBigTexture4.png</string>
			<key>realTextureFileName</key>
			<string>HallBigTexture4.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>