<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/guangxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1879},{90,405}}</string>
				<key>offset</key>
				<string>{1,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,457}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/guangyun01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,1321},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/guangyun02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1190,1875},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,81}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/guangyun03.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,1337},{31,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/guangyun04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2022,1880},{26,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/shu01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1879},{327,146}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,147}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/shu02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1421,651},{154,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,136}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/shu03.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1879},{366,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{368,120}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/shu04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1645,1921},{169,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,112}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/shu05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,1136},{213,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,178}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/yangguang01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,1136},{183,152}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,157}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/beibao01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,1962},{87,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,80}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/beibao02.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1995},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,56}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/beibaozi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,1875},{57,35}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,36}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/beibaozi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1543,1880},{51,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,30}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/duihuandai01.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,1971},{74,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,76}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/duihuandai02.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,2027},{45,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,18}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/duihuanjuan01.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,1404},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/duihuanjuan02.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1971},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,29}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/duihuanzi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,1880},{56,35}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,36}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/duihuanzi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,1880},{51,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,30}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/huodong01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,1880},{58,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,33}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/huodong02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1607,1880},{53,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,28}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/kapai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,1880},{39,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,38}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/lihe01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,1957},{78,61}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,62}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/lihe02.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,1999},{73,38}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,39}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/lihe03.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1999},{64,47}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,55}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/modiantongyong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1070,1971},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,69}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/nanwa.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,1999},{41,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,68}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/NULL.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2027},{87,15}}</string>
				<key>offset</key>
				<string>{0,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,80}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/nvwa.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,1999},{47,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,65}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/paiyouzi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,1875},{60,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,37}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/paiyouzi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,1880},{55,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,31}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/DownUIAct/shanguangdang.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1987},{61,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,56}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/shu00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,651},{794,574}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,582}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/yg01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1667},{730,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{730,210}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/yg02.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,1667},{657,206}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{658,207}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/yg03.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,1136},{615,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{615,201}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/yg04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,1667},{647,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{648,212}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/HPSaoGuang/dasaoguang00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,1937},{96,346}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,347}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/HPSaoGuang/faguangyun00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,1880},{204,138}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,139}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/HPSaoGuang/faguangyun01.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,1971},{120,72}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,74}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/HPSaoGuang/saoguang00.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,2027},{114,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,6}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/HPSaoGuang/xingxingshan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,1875},{83,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,85}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/JinBiShineAct/qianbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,1997},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,49}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/JinBiShineAct/qianbis0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1971},{25,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,14}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/JinBiShineAct/qianbis0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,2027},{18,30}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,30}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/JinBiShineAct/qianbis0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,2027},{34,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,20}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/JinBiShineAct/qianbis0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,1880},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/JinBiShineAct/qianbis0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,1880},{31,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,36}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/JinBiShineAct/qianbis0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,2020},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/JinBiShineAct/qianbis0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2022,1908},{26,25}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/JinBiShineAct/qianbis0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,2027},{20,27}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,28}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/JinBiShineAct/qianbis0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,1917},{16,20}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,20}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/JinBiShineAct/qianbixing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,2020},{29,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,27}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/LeavesAct/shuyepiao0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,1917},{17,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,21}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/LeavesAct/shuyepiao0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,1971},{17,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,21}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/LeavesAct/shuyepiao0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1414,1917},{21,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,17}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/LeavesAct/shuyepiao0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,1937},{15,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,23}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/LeavesAct/shuyepiao0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,1971},{17,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,15}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/LeavesAct/shuyepiao001.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1999},{52,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,26}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/LeavesAct/shuyepiao002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,1880},{47,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,31}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/ZSShineAct/zuanshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,1875},{49,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,43}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/ZSShineAct/zuanshis0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,2034},{14,13}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,14}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/ZSShineAct/zuanshis0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,2034},{21,13}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,14}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/ZSShineAct/zuanshis0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,1971},{21,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,14}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/ZSShineAct/zuanshis0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1847,2020},{29,27}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,28}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/ZSShineAct/zuanshis0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,1370},{29,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,32}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/ZSShineAct/zuanshis0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1999},{26,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,36}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/ZSShineAct/zuanshis0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1971},{24,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,36}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/ZSShineAct/zuanshis0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,2027},{17,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,36}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/ZSShineAct/zuanshis0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,2027},{17,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,32}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/ZSShineAct/zuanshixing.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1370},{29,28}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/guangyun00.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,651},{842,483}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{846,483}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/zhongyuan01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{2046,648}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2046,648}</string>
			</dict>
			<key>Lobby/Images/LobbyAction/BackGroundAct/qian01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1447},{2046,218}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2046,223}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LobbyAction.png</string>
			<key>realTextureFileName</key>
			<string>LobbyAction.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>