<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Lobby/Images/Package/sj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,749},{104,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,128}</string>
			</dict>
			<key>Lobby/Images/Package/10yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,749},{72,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,58}</string>
			</dict>
			<key>Lobby/Images/Package/1yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,888},{76,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,59}</string>
			</dict>
			<key>Lobby/Images/Package/2yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,809},{76,59}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,60}</string>
			</dict>
			<key>Lobby/Images/Package/50yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,749},{74,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,58}</string>
			</dict>
			<key>Lobby/Images/Package/5yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,809},{77,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,63}</string>
			</dict>
			<key>Lobby/Images/Package/iconBean.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,928},{93,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,91}</string>
			</dict>
			<key>Lobby/Images/Package/iconDHQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,908},{93,86}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,91}</string>
			</dict>
			<key>Lobby/Images/Package/iconSR.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,904},{91,85}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,91}</string>
			</dict>
			<key>Lobby/Images/Package/bag_btn_yello.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,749},{156,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,66}</string>
			</dict>
			<key>Lobby/Images/Package/bag_btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,749},{156,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,66}</string>
			</dict>
			<key>Lobby/Images/Package/bag_pic_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1},{554,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{554,156}</string>
			</dict>
			<key>Lobby/Images/Package/bag_title_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,928},{114,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,47}</string>
			</dict>
			<key>Lobby/Images/Package/bag_title_txt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,859},{114,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,47}</string>
			</dict>
			<key>Lobby/Images/Package/bag_btn_green_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,749},{146,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,58}</string>
			</dict>
			<key>Lobby/Images/Package/noDJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,159},{554,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{554,156}</string>
			</dict>
			<key>Lobby/Images/Package/pc_btn_yello_lucky.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,317},{195,68}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,68}</string>
			</dict>
			<key>Lobby/Images/Package/lucky_pic_txt10.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,317},{463,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{463,28}</string>
			</dict>
			<key>Lobby/Images/Package/lucky_pic_txt11.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,317},{430,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{430,27}</string>
			</dict>
			<key>Lobby/Images/Package/lucky_pic_txt6.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,817},{227,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,41}</string>
			</dict>
			<key>Lobby/Images/Package/lucky_pic_txt7.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,817},{152,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,40}</string>
			</dict>
			<key>Lobby/Images/Package/lucky_pic_txt8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,991},{114,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,31}</string>
			</dict>
			<key>Lobby/Images/Package/lucky_pic_txt9.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,991},{114,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,31}</string>
			</dict>
			<key>Lobby/Images/Package/lucky_title_txt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,879},{211,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,54}</string>
			</dict>
			<key>Lobby/Images/Package/lucky_title_txt4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,935},{211,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,54}</string>
			</dict>
			<key>Lobby/Images/Package/dik.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{443,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,275}</string>
			</dict>
			<key>Lobby/Images/Package/TitleBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,278},{443,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,93}</string>
			</dict>
			<key>Lobby/Images/Package/iconSR_ash.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,809},{91,85}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,91}</string>
			</dict>
			<key>Lobby/Images/Package/iconDHQ_ash.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,809},{93,86}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,91}</string>
			</dict>
			<key>Lobby/Images/Package/iconBean_ash.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,908},{93,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,91}</string>
			</dict>
			<key>Lobby/Images/Package/creatematch.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,966},{73,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,58}</string>
			</dict>
			<key>Lobby/Images/Package/10yuan_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,749},{73,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,58}</string>
			</dict>
			<key>Lobby/Images/Package/1yuan-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,887},{76,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,59}</string>
			</dict>
			<key>Lobby/Images/Package/match1_pic_match3.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,749},{73,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,58}</string>
			</dict>
			<key>Lobby/Images/Package/pub_btn_yello_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,860},{156,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,66}</string>
			</dict>
			<key>Lobby/Images/public/pub_frame_bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,859},{55,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,47}</string>
			</dict>
			<key>Lobby/Images/Package/pub_pic_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,902},{81,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>package.png</string>
			<key>realTextureFileName</key>
			<string>package.png</string>
			<key>size</key>
			<string>{1009,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1009</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>