<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Lobby/Images/public/prompt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,1},{552,24}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{601,44}</string>
			</dict>
			<key>Lobby/Images/public/prompt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,213},{492,24}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{601,44}</string>
			</dict>
			<key>Lobby/Images/public/prompt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,213},{475,24}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{601,44}</string>
			</dict>
			<key>Lobby/Images/public/SRBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,213},{202,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,42}</string>
			</dict>
			<key>Lobby/Images/public/SrNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,874},{59,64}}</string>
				<key>offset</key>
				<string>{-3,31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,128}</string>
			</dict>
			<key>Lobby/Images/public/ts2-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,798},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>Lobby/Images/public/ts-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,780},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>Lobby/Images/public/btnAddn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,266},{46,48}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,68}</string>
			</dict>
			<key>Lobby/Images/public/btnAdds.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,714},{53,55}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,68}</string>
			</dict>
			<key>Lobby/Images/public/btn-QD.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,1},{224,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,57}</string>
			</dict>
			<key>Lobby/Images/public/headBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,856},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>Lobby/Images/public/HedaBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,227},{239,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,72}</string>
			</dict>
			<key>Lobby/Images/public/icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,215},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>Lobby/Images/public/iconSR.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,314},{49,43}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,54}</string>
			</dict>
			<key>Lobby/Images/public/loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,707},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>Lobby/Images/public/NameBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,417},{183,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,35}</string>
			</dict>
			<key>Lobby/Images/public/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,877},{40,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,25}</string>
			</dict>
			<key>Lobby/Images/public/Bi.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,807},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>Lobby/Images/public/btnFS-n.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,213},{149,76}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,88}</string>
			</dict>
			<key>Lobby/Images/public/btnFS-S.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,468},{163,82}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,88}</string>
			</dict>
			<key>Lobby/Images/public/btnGB.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,707},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>Lobby/Images/public/btn-laba.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,807},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>Lobby/Images/public/btnLT-n.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,611},{59,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,79}</string>
			</dict>
			<key>Lobby/Images/public/btnLT-s.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,773},{65,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,79}</string>
			</dict>
			<key>Lobby/Images/public/btn-QD-n.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,708},{135,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,56}</string>
			</dict>
			<key>Lobby/Images/public/btn-QD-s.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,506},{135,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,56}</string>
			</dict>
			<key>Lobby/Images/public/btnQR.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,177},{219,80}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,89}</string>
			</dict>
			<key>Lobby/Images/public/btn-QX-n.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,602},{135,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,56}</string>
			</dict>
			<key>Lobby/Images/public/btn-QX-s.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,643},{135,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,56}</string>
			</dict>
			<key>Lobby/Images/public/gift-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,771},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>Lobby/Images/public/icon-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,797},{92,80}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>Lobby/Images/public/iconLB.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,840},{61,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>Lobby/Images/public/laba1.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,972},{36,29}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>Lobby/Images/public/line4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1019},{643,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{643,2}</string>
			</dict>
			<key>Lobby/Images/public/btnJWPY-n.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,891},{112,32}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,42}</string>
			</dict>
			<key>Lobby/Images/public/btnJWPY-s.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,739},{112,32}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,42}</string>
			</dict>
			<key>Lobby/Images/public/btnZSLW-n.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,903},{112,32}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,42}</string>
			</dict>
			<key>Lobby/Images/public/btnZSLW-s.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,773},{112,32}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,42}</string>
			</dict>
			<key>Lobby/Images/public/TIP-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,619},{52,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,225}</string>
			</dict>
			<key>Lobby/Images/public/TIP-LINE.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1019},{219,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,1}</string>
			</dict>
			<key>Lobby/Images/public/prompt4.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,99},{510,24}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{601,44}</string>
			</dict>
			<key>Lobby/Images/public/prompt5.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,555},{415,24}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{601,44}</string>
			</dict>
			<key>Lobby/Images/public/iconscore.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,215},{49,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,57}</string>
			</dict>
			<key>Lobby/Images/public/LT-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{674,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{674,96}</string>
			</dict>
			<key>Lobby/Images/public/iconDHQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,835},{57,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,58}</string>
			</dict>
			<key>Lobby/Images/public/pub_btn_green_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,523},{183,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,67}</string>
			</dict>
			<key>Lobby/Images/public/pub_close1.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,215},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>Lobby/Images/public/pub_close1_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,891},{47,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,109}</string>
			</dict>
			<key>Lobby/Images/public/pub_close2.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,264},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>Lobby/Images/public/pub_close3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,877},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>Lobby/Images/public/pub_frame_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,99},{202,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,114}</string>
			</dict>
			<key>Lobby/Images/public/pub_frame_bg1_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,177},{58,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,10}</string>
			</dict>
			<key>Lobby/Images/public/pub_frame_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,809},{92,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,68}</string>
			</dict>
			<key>Lobby/Images/public/pub_frame_bg2_match.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,846},{106,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,88}</string>
			</dict>
			<key>Lobby/Images/public/pub_frame_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,99},{173,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,112}</string>
			</dict>
			<key>Lobby/Images/public/pub_frame_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,364},{140,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,70}</string>
			</dict>
			<key>Lobby/Images/public/pub_frame_bg4_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,707},{89,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,44}</string>
			</dict>
			<key>Lobby/Images/public/pub_frame_bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,215},{55,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,47}</string>
			</dict>
			<key>Lobby/Images/public/pub_frame_bg6_photo.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,1},{174,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,175}</string>
			</dict>
			<key>Lobby/Images/public/pub_frame_s_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,895},{73,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,40}</string>
			</dict>
			<key>Lobby/Images/public/pub_frame_u_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,672},{73,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,40}</string>
			</dict>
			<key>Lobby/Images/public/pub_pic_flower.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,633},{136,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,69}</string>
			</dict>
			<key>Lobby/Images/public/pub_title_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1},{942,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{942,68}</string>
			</dict>
			<key>Lobby/Images/public/pub_title_bg1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,619},{150,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,27}</string>
			</dict>
			<key>Lobby/Images/public/pub_title_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,945},{626,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{629,72}</string>
			</dict>
			<key>Lobby/Images/public/pub_title_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,945},{360,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{363,72}</string>
			</dict>
			<key>Lobby/Images/public/pub_title_bg3_match.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,177},{344,72}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{346,72}</string>
			</dict>
			<key>Lobby/Images/public/nothings.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,1019},{1,1}}</string>
				<key>offset</key>
				<string>{24,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Lobby/Images/public/btn_rw_fx.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,398},{219,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>piblic.png</string>
			<key>realTextureFileName</key>
			<string>piblic.png</string>
			<key>size</key>
			<string>{1021,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>