<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Lobby/Images/UserCenter/XK-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,800},{35,35}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>Lobby/Images/UserCenter/XK-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,749},{35,35}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>Lobby/Images/UserCenter/bi.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,841},{47,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,44}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnDL.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,640},{219,80}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,89}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnFH.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,161},{67,67}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnFH-n.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,347},{65,64}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnFH-s.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,162},{71,69}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnPZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,178},{256,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,66}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnQRXG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,861},{219,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,80}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnQX.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,553},{218,80}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,89}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnWJMM.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,943},{219,80}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,89}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnWSZL-n.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,87},{171,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,62}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnXC.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,246},{256,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,66}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnXGMM-n.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,87},{171,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,62}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnXL1.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,659},{28,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnXL2.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,890},{28,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnYZM-d.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,314},{143,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,68}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnYZM-n.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,314},{139,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,66}</string>
			</dict>
			<key>Lobby/Images/UserCenter/gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,235},{50,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,32}</string>
			</dict>
			<key>Lobby/Images/UserCenter/hei.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,1},{276,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,40}</string>
			</dict>
			<key>Lobby/Images/UserCenter/iconDHQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,638},{57,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,58}</string>
			</dict>
			<key>Lobby/Images/UserCenter/iconHZMJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,332},{142,152}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,152}</string>
			</dict>
			<key>Lobby/Images/UserCenter/iconJB.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,760},{49,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,57}</string>
			</dict>
			<key>Lobby/Images/UserCenter/iconSK.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,178},{143,152}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,152}</string>
			</dict>
			<key>Lobby/Images/UserCenter/iconSKY.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,486},{142,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,152}</string>
			</dict>
			<key>Lobby/Images/UserCenter/iconZS.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,749},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>Lobby/Images/UserCenter/jindut-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,841},{27,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,22}</string>
			</dict>
			<key>Lobby/Images/UserCenter/jindut-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1},{62,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,36}</string>
			</dict>
			<key>Lobby/Images/UserCenter/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,314},{2,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2,71}</string>
			</dict>
			<key>Lobby/Images/UserCenter/shurukuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,638},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>Lobby/Images/UserCenter/TXbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{174,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,175}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txtDHQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,455},{79,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,23}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txtDJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,414},{67,20}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,33}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txtGRZX.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,227},{179,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,47}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txtJB.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,682},{49,21}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,33}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txt-jmm.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,137},{77,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,22}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txtJY.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,819},{67,20}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,33}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txtKXD.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,151},{79,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,23}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txt-mm.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,635},{46,22}}</string>
				<key>offset</key>
				<string>{24,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,46}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txt-mmqr.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,151},{103,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,23}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txtN.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,890},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txt-nc.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,688},{45,23}}</string>
				<key>offset</key>
				<string>{24,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,46}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txtNC.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,276},{77,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,23}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txtNV.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,920},{23,23}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txt-sjh.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,137},{79,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,23}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txtWSZL.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,87},{179,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,48}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txt-xb.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,635},{45,23}}</string>
				<key>offset</key>
				<string>{23,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,46}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txtXB.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,1},{78,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,23}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txtXGMM.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,176},{179,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,49}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txtXGTX.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,487},{180,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,49}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txt-xmm.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,1},{79,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,23}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txt-yzm.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,235},{70,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,22}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txtZHMM.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,43},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,49}</string>
			</dict>
			<key>Lobby/Images/UserCenter/txtZS.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,276},{78,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,22}</string>
			</dict>
			<key>Lobby/Images/UserCenter/zsxm.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,459},{92,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,23}</string>
			</dict>
			<key>Lobby/Images/UserCenter/sfzh.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,1},{94,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,23}</string>
			</dict>
			<key>Lobby/Images/UserCenter/zz.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,640},{219,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,80}</string>
			</dict>
			<key>Lobby/Images/UserCenter/zhanz.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,43},{257,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,42}</string>
			</dict>
			<key>Lobby/Images/UserCenter/btnplus-n.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,698},{60,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,47}</string>
			</dict>
			<key>Lobby/Images/UserCenter/smrz.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,314},{171,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,62}</string>
			</dict>
			<key>Lobby/Images/UserCenter/EWM.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,698},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>Lobby/Images/UserCenter/GRMP.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,301},{169,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,44}</string>
			</dict>
			<key>Lobby/Images/UserCenter/EWMAN.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,347},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>Lobby/Images/UserCenter/DHK_grzx.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,76},{57,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,60}</string>
			</dict>
			<key>Lobby/Images/UserCenter/pc_btn_aut.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,332},{219,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,80}</string>
			</dict>
			<key>Lobby/Images/UserCenter/pc_frame_line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,635},{1,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1,111}</string>
			</dict>
			<key>Lobby/Images/UserCenter/pc_pic_aut.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,151},{103,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,23}</string>
			</dict>
			<key>Lobby/Images/UserCenter/pc_pic_realname.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,151},{103,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,23}</string>
			</dict>
			<key>Lobby/Images/UserCenter/pc_title_txt4.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,26},{178,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,48}</string>
			</dict>
			<key>Lobby/Images/UserCenter/pc_pic_vc.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,276},{79,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,22}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>UserCenter.png</string>
			<key>realTextureFileName</key>
			<string>UserCenter.png</string>
			<key>size</key>
			<string>{775,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>775</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>