<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Lobby/Images/Match/Champion/WaitNode/D1.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,320},{48,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,30}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/D2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,288},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/D3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,288},{111,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,32}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/D4.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,204},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/DAY.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,176},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/First.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,0},{305,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{305,30}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/GDT.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,0},{25,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,2}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/JDTDT.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,377},{57,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,32}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/JLWZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{82,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,30}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/JLWZ1.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,305},{253,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,30}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/MH.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,0},{12,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,20}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/NZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,377},{59,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,61}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/Second.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,72},{305,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{305,30}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/START.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,72},{216,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,70}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/SYSJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,664},{131,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,28}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/SYSJJD.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,72},{52,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,27}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/Third.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,305},{290,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,30}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/TOP.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{512,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,94}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/ZBSJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,549},{131,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,28}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/ZBSJJD.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,124},{52,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,27}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/XS.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,12},{12,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,10}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/XX.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,22},{12,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,10}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/ZZPPZ1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,703},{149,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,29}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/ZZPPZ2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,12},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/JPJL.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,202},{106,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,131}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/TPJL.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,333},{106,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,131}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/YPJL.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,739},{106,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,131}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/ddks.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,558},{181,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,29}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/pc_pic_flower.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,595},{136,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,69}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/pub_close2.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,438},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/pub_frame_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,0},{202,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,114}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/pub_frame_bg2_match.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,595},{108,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,88}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/pub_title_bg3_match.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,0},{346,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,72}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/main_btn_yello_go.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,72},{219,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,80}</string>
			</dict>
			<key>Lobby/Images/Match/Champion/WaitNode/match_title_txt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,439},{110,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>waitnode.png</string>
			<key>realTextureFileName</key>
			<string>waitnode.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>