<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_ani_hu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>mj_ani_hu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,228},{132,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,106}}</string>
                <key>sourceSize</key>
                <string>{132,106}</string>
            </dict>
            <key>mj_ani_hu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{236,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,226}}</string>
                <key>sourceSize</key>
                <string>{236,226}</string>
            </dict>
            <key>mj_ani_hu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>mj_ani_hu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{224,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,238}}</string>
                <key>sourceSize</key>
                <string>{224,238}</string>
            </dict>
            <key>mj_ani_hu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,424},{154,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,130}}</string>
                <key>sourceSize</key>
                <string>{154,130}</string>
            </dict>
            <key>mj_ani_hu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,382},{144,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,118}}</string>
                <key>sourceSize</key>
                <string>{144,118}</string>
            </dict>
            <key>mj_ani_hu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,424},{144,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,128}}</string>
                <key>sourceSize</key>
                <string>{144,128}</string>
            </dict>
            <key>mj_ani_hu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,424},{144,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,130}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>mj_ani_hu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mj_ani_hu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,230},{188,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,230}}</string>
                <key>sourceSize</key>
                <string>{188,230}</string>
            </dict>
            <key>mj_ani_hu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,230},{150,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,136}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>mj_ani_hu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{228,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,210}}</string>
                <key>sourceSize</key>
                <string>{228,210}</string>
            </dict>
            <key>mj_ani_hu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,214},{226,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,208}}</string>
                <key>sourceSize</key>
                <string>{226,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hu_atlas.png</string>
            <key>size</key>
            <string>{968,556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b390d8b9f8bc0d93353b93f46835be0c$</string>
            <key>textureFileName</key>
            <string>hu_atlas.png</string>
        </dict>
    </dict>
</plist>
