<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UserCenter_Icon_HZMJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{142,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>UserCenter_Icon_SK.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{143,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,152}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>UserCenter_Icon_SKY.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{142,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>UserCenter_TXbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,175}}</string>
                <key>sourceSize</key>
                <string>{174,175}</string>
            </dict>
            <key>UserCenter_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,499},{62,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,36}}</string>
                <key>sourceSize</key>
                <string>{62,36}</string>
            </dict>
            <key>UserCenter_btn_ChangeAccount.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{141,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,52}}</string>
                <key>sourceSize</key>
                <string>{141,52}</string>
            </dict>
            <key>UserCenter_btn_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,822},{60,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,47}}</string>
                <key>sourceSize</key>
                <string>{60,47}</string>
            </dict>
            <key>UserCenter_head0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{151,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,152}}</string>
                <key>sourceSize</key>
                <string>{151,152}</string>
            </dict>
            <key>UserCenter_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{151,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,152}}</string>
                <key>sourceSize</key>
                <string>{151,152}</string>
            </dict>
            <key>UserCenter_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{2,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,71}}</string>
                <key>sourceSize</key>
                <string>{2,71}</string>
            </dict>
            <key>UserCenter_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{1,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,111}}</string>
                <key>sourceSize</key>
                <string>{1,111}</string>
            </dict>
            <key>UserCenter_modifiy.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,884},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>UserCenter_txtGRZX.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,641},{179,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,47}}</string>
                <key>sourceSize</key>
                <string>{179,47}</string>
            </dict>
            <key>UserCenter_txtKXD.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,179},{79,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,23}}</string>
                <key>sourceSize</key>
                <string>{79,23}</string>
            </dict>
            <key>UserCenter_txtN.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,588},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>UserCenter_txtNC.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,340},{77,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,23}}</string>
                <key>sourceSize</key>
                <string>{77,23}</string>
            </dict>
            <key>UserCenter_txtNV.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,563},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>UserCenter_txtXB.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,260},{78,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,23}}</string>
                <key>sourceSize</key>
                <string>{78,23}</string>
            </dict>
            <key>UserCenter_txtZS.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,419},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userCenter_atlas.png</string>
            <key>size</key>
            <string>{195,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f411040d51c1d3f1a89da9297f45e350$</string>
            <key>textureFileName</key>
            <string>userCenter_atlas.png</string>
        </dict>
    </dict>
</plist>
