<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seeting_ck.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>setting_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,48}}</string>
                <key>sourceSize</key>
                <string>{396,48}</string>
            </dict>
            <key>setting_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{395,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,48}}</string>
                <key>sourceSize</key>
                <string>{395,48}</string>
            </dict>
            <key>setting_dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{51,56}</string>
            </dict>
            <key>setting_max_sound_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{61,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,50}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>setting_min_sound_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,54},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>setting_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,55},{68,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,40}}</string>
                <key>sourceSize</key>
                <string>{68,40}</string>
            </dict>
            <key>setting_sound_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,57},{68,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,40}}</string>
                <key>sourceSize</key>
                <string>{68,40}</string>
            </dict>
            <key>setting_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{135,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,53}}</string>
                <key>sourceSize</key>
                <string>{135,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setup_atlas.png</string>
            <key>size</key>
            <string>{756,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e1fdc32ce47f7116f1289573c281b36$</string>
            <key>textureFileName</key>
            <string>setup_atlas.png</string>
        </dict>
    </dict>
</plist>
