<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_lobby_sp9.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,534},{40,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,25}}</string>
                <key>sourceSize</key>
                <string>{40,25}</string>
            </dict>
            <key>btn_hzmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,275},{291,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,354}}</string>
                <key>sourceSize</key>
                <string>{291,354}</string>
            </dict>
            <key>btn_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,486},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>btn_sk.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,608},{271,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,354}}</string>
                <key>sourceSize</key>
                <string>{271,354}</string>
            </dict>
            <key>btn_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{271,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,355}}</string>
                <key>sourceSize</key>
                <string>{271,355}</string>
            </dict>
            <key>icon_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,136},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,379},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>icon_fk.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,424},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>img_head_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,840},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>img_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{495,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,534}}</string>
                <key>sourceSize</key>
                <string>{495,534}</string>
            </dict>
            <key>lobby_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{955,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{955,58}}</string>
                <key>sourceSize</key>
                <string>{955,58}</string>
            </dict>
            <key>lobby_btn_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,69},{57,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>lobby_btn_back_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,912},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>lobby_btn_bx.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,763},{176,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,80}}</string>
                <key>sourceSize</key>
                <string>{176,80}</string>
            </dict>
            <key>lobby_btn_cjbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,608},{344,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,138}}</string>
                <key>sourceSize</key>
                <string>{344,138}</string>
            </dict>
            <key>lobby_btn_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,912},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>lobby_btn_jrbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,568},{342,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,136}}</string>
                <key>sourceSize</key>
                <string>{342,136}</string>
            </dict>
            <key>lobby_btn_ksks.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,499},{273,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,107}}</string>
                <key>sourceSize</key>
                <string>{273,107}</string>
            </dict>
            <key>lobby_btn_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,187},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>lobby_btn_setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,311},{59,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,66}}</string>
                <key>sourceSize</key>
                <string>{59,66}</string>
            </dict>
            <key>lobby_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,677},{95,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,84}}</string>
                <key>sourceSize</key>
                <string>{95,84}</string>
            </dict>
            <key>lobby_btn_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,568},{107,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,116}}</string>
                <key>sourceSize</key>
                <string>{107,116}</string>
            </dict>
            <key>lobby_btn_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{57,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>lobby_handup_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,959},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
            <key>lobby_table_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,499},{478,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,114}}</string>
                <key>sourceSize</key>
                <string>{478,114}</string>
            </dict>
            <key>lobby_table_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,499},{478,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,114}}</string>
                <key>sourceSize</key>
                <string>{478,114}</string>
            </dict>
            <key>lobby_table_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,677},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>lobby_table_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,249},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>lobby_table_vsing.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,763},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_atlas.png</string>
            <key>size</key>
            <string>{1015,979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71fae055d3d041d0afac720b14743c53$</string>
            <key>textureFileName</key>
            <string>lobby_atlas.png</string>
        </dict>
    </dict>
</plist>
